# Download latest packages hopefully without breaking changes and at or after the version used to develop
flask >= 2.3.2, < 3.0.0
gunicorn >= 22.0.0, < 23.0.0
msal >= 1.23.0, < 2.0.0
msal-extensions >= 1.0.0, < 2.0.0
requests >= 2.31.0, < 3.0.0
